@import url("https://fonts.googleapis.com/css2?family=Lato&family=Noto+Sans+KR&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* HEADER */
#header_sub {
  width: 100%;
  height: 70px;
}
#header_sub .header_wrap {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 5rem;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  transform-origin: top;
  transition: 0.5s;
}
#header_sub .header_wrap .logo {
  margin: 0;
}
#header_sub .header_wrap .menu {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Noto Sans KR", sans-serif;
}
#header_sub .header_wrap .menu .gnbWeb {
  display: flex;
  margin: 0;
}
#header_sub .header_wrap .menu .gnbWeb li {
  margin: 0 3rem;
  position: relative;
}
#header_sub .header_wrap .menu .gnbWeb li a {
  color: #000;
  transition: 0.5;
}
#header_sub .header_wrap .menu .gnbWeb li::after {
  display: block;
  content: "";
  width: 0px;
  height: 4px;
  background: #d5001c;
  position: absolute;
  left: -5px;
  bottom: -23px;
  transition: 0.5s;
}
#header_sub .header_wrap .menu .gnbWeb li:hover::after, #header_sub .header_wrap .menu .gnbWeb li.on::after {
  width: 110px;
}
#header_sub .header_wrap .menu .joinWeb {
  display: flex;
  margin: 0;
}
#header_sub .header_wrap .menu .joinWeb li {
  margin: 0 1.5rem;
  position: relative;
}
#header_sub .header_wrap .menu .joinWeb li a {
  color: #000;
  transition: 0.3s;
}
#header_sub .header_wrap .menu .joinWeb li:hover a {
  color: #d5001c;
}

/* SECTION */
.content {
  width: 100%;
  background: #c8cacb;
}
.content .content_inner {
  width: 100%;
  height: 100%;
  padding: 1rem 5rem;
  position: relative;
  margin: 0 auto;
}
.content .content_inner .wrap {
  width: 100%;
  height: 100%;
  border: 1px solid red;
}

/* FOOTER */
#footer_sub {
  width: 100%;
  height: 450px;
  padding: 2rem 5rem 4rem;
}
#footer_sub .footer_wrap {
  width: 100%;
  height: 100%;
  position: relative;
  border-top: 1px solid #c8cacb;
  padding: 30px 5px;
}
#footer_sub .footer_wrap .row {
  width: 100%;
  height: 100%;
}
#footer_sub .footer_wrap .row .col-3 h3 {
  font: bold 20px/1 "Lato";
  margin-bottom: 20px;
}
#footer_sub .footer_wrap .row .col-3 ul {
  padding: 0;
}
#footer_sub .footer_wrap .row .col-3 ul li {
  font: normal 16px/1 "noto sans";
  margin-bottom: 20px;
  cursor: pointer;
  transition: 0.5s;
}
#footer_sub .footer_wrap .row .col-3 ul li:hover {
  color: #d5001c;
}
#footer_sub .footer_wrap .row:last-child .sns .row {
  margin: 0;
  margin-top: 60px;
}
#footer_sub .footer_wrap .row:last-child .sns .row .col-4 {
  width: 50px;
  height: 50px;
  background: #313639;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  margin-right: 10px;
  margin-bottom: 10px;
}
#footer_sub .footer_wrap .row:last-child .sns .row .col-4 i {
  font-size: 20px;
  color: white;
}
#footer_sub .footer_wrap .row:last-child .sns .row .col-4:hover {
  background: #d5001c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* HEADER */
#header_sub {
  width: 100%;
  height: 70px;
}
#header_sub .header_wrap {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 5rem;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  transform-origin: top;
  transition: 0.5s;
}
#header_sub .header_wrap .logo {
  margin: 0;
}
#header_sub .header_wrap .menu {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Noto Sans KR", sans-serif;
}
#header_sub .header_wrap .menu .gnbWeb {
  display: flex;
  margin: 0;
}
#header_sub .header_wrap .menu .gnbWeb li {
  margin: 0 3rem;
  position: relative;
}
#header_sub .header_wrap .menu .gnbWeb li a {
  color: #000;
  transition: 0.5;
}
#header_sub .header_wrap .menu .gnbWeb li::after {
  display: block;
  content: "";
  width: 0px;
  height: 4px;
  background: #d5001c;
  position: absolute;
  left: -5px;
  bottom: -23px;
  transition: 0.5s;
}
#header_sub .header_wrap .menu .gnbWeb li:hover::after, #header_sub .header_wrap .menu .gnbWeb li.on::after {
  width: 110px;
}
#header_sub .header_wrap .menu .joinWeb {
  display: flex;
  margin: 0;
}
#header_sub .header_wrap .menu .joinWeb li {
  margin: 0 1.5rem;
  position: relative;
}
#header_sub .header_wrap .menu .joinWeb li a {
  color: #000;
  transition: 0.3s;
}
#header_sub .header_wrap .menu .joinWeb li:hover a {
  color: #d5001c;
}

/* SECTION */
.content {
  width: 100%;
  background: #c8cacb;
}
.content .content_inner {
  width: 100%;
  height: 100%;
  padding: 1rem 5rem;
  position: relative;
  margin: 0 auto;
}
.content .content_inner .wrap {
  width: 100%;
  height: 100%;
  border: 1px solid red;
}

/* FOOTER */
#footer_sub {
  width: 100%;
  height: 450px;
  padding: 2rem 5rem 4rem;
}
#footer_sub .footer_wrap {
  width: 100%;
  height: 100%;
  position: relative;
  border-top: 1px solid #c8cacb;
  padding: 30px 5px;
}
#footer_sub .footer_wrap .row {
  width: 100%;
  height: 100%;
}
#footer_sub .footer_wrap .row .col-3 h3 {
  font: bold 20px/1 "Lato";
  margin-bottom: 20px;
}
#footer_sub .footer_wrap .row .col-3 ul {
  padding: 0;
}
#footer_sub .footer_wrap .row .col-3 ul li {
  font: normal 16px/1 "noto sans";
  margin-bottom: 20px;
  cursor: pointer;
  transition: 0.5s;
}
#footer_sub .footer_wrap .row .col-3 ul li:hover {
  color: #d5001c;
}
#footer_sub .footer_wrap .row:last-child .sns .row {
  margin: 0;
  margin-top: 60px;
}
#footer_sub .footer_wrap .row:last-child .sns .row .col-4 {
  width: 50px;
  height: 50px;
  background: #313639;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  margin-right: 10px;
  margin-bottom: 10px;
}
#footer_sub .footer_wrap .row:last-child .sns .row .col-4 i {
  font-size: 20px;
  color: white;
}
#footer_sub .footer_wrap .row:last-child .sns .row .col-4:hover {
  background: #d5001c;
}

.model .content_inner .wrap h1 {
  font-family: "noto sans";
  background: red;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* HEADER */
#header_sub {
  width: 100%;
  height: 70px;
}
#header_sub .header_wrap {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 5rem;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  transform-origin: top;
  transition: 0.5s;
}
#header_sub .header_wrap .logo {
  margin: 0;
}
#header_sub .header_wrap .menu {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Noto Sans KR", sans-serif;
}
#header_sub .header_wrap .menu .gnbWeb {
  display: flex;
  margin: 0;
}
#header_sub .header_wrap .menu .gnbWeb li {
  margin: 0 3rem;
  position: relative;
}
#header_sub .header_wrap .menu .gnbWeb li a {
  color: #000;
  transition: 0.5;
}
#header_sub .header_wrap .menu .gnbWeb li::after {
  display: block;
  content: "";
  width: 0px;
  height: 4px;
  background: #d5001c;
  position: absolute;
  left: -5px;
  bottom: -23px;
  transition: 0.5s;
}
#header_sub .header_wrap .menu .gnbWeb li:hover::after, #header_sub .header_wrap .menu .gnbWeb li.on::after {
  width: 110px;
}
#header_sub .header_wrap .menu .joinWeb {
  display: flex;
  margin: 0;
}
#header_sub .header_wrap .menu .joinWeb li {
  margin: 0 1.5rem;
  position: relative;
}
#header_sub .header_wrap .menu .joinWeb li a {
  color: #000;
  transition: 0.3s;
}
#header_sub .header_wrap .menu .joinWeb li:hover a {
  color: #d5001c;
}

/* SECTION */
.content {
  width: 100%;
  background: #c8cacb;
}
.content .content_inner {
  width: 100%;
  height: 100%;
  padding: 1rem 5rem;
  position: relative;
  margin: 0 auto;
}
.content .content_inner .wrap {
  width: 100%;
  height: 100%;
  border: 1px solid red;
}

/* FOOTER */
#footer_sub {
  width: 100%;
  height: 450px;
  padding: 2rem 5rem 4rem;
}
#footer_sub .footer_wrap {
  width: 100%;
  height: 100%;
  position: relative;
  border-top: 1px solid #c8cacb;
  padding: 30px 5px;
}
#footer_sub .footer_wrap .row {
  width: 100%;
  height: 100%;
}
#footer_sub .footer_wrap .row .col-3 h3 {
  font: bold 20px/1 "Lato";
  margin-bottom: 20px;
}
#footer_sub .footer_wrap .row .col-3 ul {
  padding: 0;
}
#footer_sub .footer_wrap .row .col-3 ul li {
  font: normal 16px/1 "noto sans";
  margin-bottom: 20px;
  cursor: pointer;
  transition: 0.5s;
}
#footer_sub .footer_wrap .row .col-3 ul li:hover {
  color: #d5001c;
}
#footer_sub .footer_wrap .row:last-child .sns .row {
  margin: 0;
  margin-top: 60px;
}
#footer_sub .footer_wrap .row:last-child .sns .row .col-4 {
  width: 50px;
  height: 50px;
  background: #313639;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  margin-right: 10px;
  margin-bottom: 10px;
}
#footer_sub .footer_wrap .row:last-child .sns .row .col-4 i {
  font-size: 20px;
  color: white;
}
#footer_sub .footer_wrap .row:last-child .sns .row .col-4:hover {
  background: #d5001c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* HEADER */
#header_sub {
  width: 100%;
  height: 70px;
}
#header_sub .header_wrap {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 5rem;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  transform-origin: top;
  transition: 0.5s;
}
#header_sub .header_wrap .logo {
  margin: 0;
}
#header_sub .header_wrap .menu {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Noto Sans KR", sans-serif;
}
#header_sub .header_wrap .menu .gnbWeb {
  display: flex;
  margin: 0;
}
#header_sub .header_wrap .menu .gnbWeb li {
  margin: 0 3rem;
  position: relative;
}
#header_sub .header_wrap .menu .gnbWeb li a {
  color: #000;
  transition: 0.5;
}
#header_sub .header_wrap .menu .gnbWeb li::after {
  display: block;
  content: "";
  width: 0px;
  height: 4px;
  background: #d5001c;
  position: absolute;
  left: -5px;
  bottom: -23px;
  transition: 0.5s;
}
#header_sub .header_wrap .menu .gnbWeb li:hover::after, #header_sub .header_wrap .menu .gnbWeb li.on::after {
  width: 110px;
}
#header_sub .header_wrap .menu .joinWeb {
  display: flex;
  margin: 0;
}
#header_sub .header_wrap .menu .joinWeb li {
  margin: 0 1.5rem;
  position: relative;
}
#header_sub .header_wrap .menu .joinWeb li a {
  color: #000;
  transition: 0.3s;
}
#header_sub .header_wrap .menu .joinWeb li:hover a {
  color: #d5001c;
}

/* SECTION */
.content {
  width: 100%;
  background: #c8cacb;
}
.content .content_inner {
  width: 100%;
  height: 100%;
  padding: 1rem 5rem;
  position: relative;
  margin: 0 auto;
}
.content .content_inner .wrap {
  width: 100%;
  height: 100%;
  border: 1px solid red;
}

/* FOOTER */
#footer_sub {
  width: 100%;
  height: 450px;
  padding: 2rem 5rem 4rem;
}
#footer_sub .footer_wrap {
  width: 100%;
  height: 100%;
  position: relative;
  border-top: 1px solid #c8cacb;
  padding: 30px 5px;
}
#footer_sub .footer_wrap .row {
  width: 100%;
  height: 100%;
}
#footer_sub .footer_wrap .row .col-3 h3 {
  font: bold 20px/1 "Lato";
  margin-bottom: 20px;
}
#footer_sub .footer_wrap .row .col-3 ul {
  padding: 0;
}
#footer_sub .footer_wrap .row .col-3 ul li {
  font: normal 16px/1 "noto sans";
  margin-bottom: 20px;
  cursor: pointer;
  transition: 0.5s;
}
#footer_sub .footer_wrap .row .col-3 ul li:hover {
  color: #d5001c;
}
#footer_sub .footer_wrap .row:last-child .sns .row {
  margin: 0;
  margin-top: 60px;
}
#footer_sub .footer_wrap .row:last-child .sns .row .col-4 {
  width: 50px;
  height: 50px;
  background: #313639;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  margin-right: 10px;
  margin-bottom: 10px;
}
#footer_sub .footer_wrap .row:last-child .sns .row .col-4 i {
  font-size: 20px;
  color: white;
}
#footer_sub .footer_wrap .row:last-child .sns .row .col-4:hover {
  background: #d5001c;
}

.model .content_inner .wrap h1 {
  font-family: "noto sans";
  background: red;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* HEADER */
#header_sub {
  width: 100%;
  height: 70px;
}
#header_sub .header_wrap {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 5rem;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  transform-origin: top;
  transition: 0.5s;
}
#header_sub .header_wrap .logo {
  margin: 0;
}
#header_sub .header_wrap .menu {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Noto Sans KR", sans-serif;
}
#header_sub .header_wrap .menu .gnbWeb {
  display: flex;
  margin: 0;
}
#header_sub .header_wrap .menu .gnbWeb li {
  margin: 0 3rem;
  position: relative;
}
#header_sub .header_wrap .menu .gnbWeb li a {
  color: #000;
  transition: 0.5;
}
#header_sub .header_wrap .menu .gnbWeb li::after {
  display: block;
  content: "";
  width: 0px;
  height: 4px;
  background: #d5001c;
  position: absolute;
  left: -5px;
  bottom: -23px;
  transition: 0.5s;
}
#header_sub .header_wrap .menu .gnbWeb li:hover::after, #header_sub .header_wrap .menu .gnbWeb li.on::after {
  width: 110px;
}
#header_sub .header_wrap .menu .joinWeb {
  display: flex;
  margin: 0;
}
#header_sub .header_wrap .menu .joinWeb li {
  margin: 0 1.5rem;
  position: relative;
}
#header_sub .header_wrap .menu .joinWeb li a {
  color: #000;
  transition: 0.3s;
}
#header_sub .header_wrap .menu .joinWeb li:hover a {
  color: #d5001c;
}

/* SECTION */
.content {
  width: 100%;
  background: #c8cacb;
}
.content .content_inner {
  width: 100%;
  height: 100%;
  padding: 1rem 5rem;
  position: relative;
  margin: 0 auto;
}
.content .content_inner .wrap {
  width: 100%;
  height: 100%;
  border: 1px solid red;
}

/* FOOTER */
#footer_sub {
  width: 100%;
  height: 450px;
  padding: 2rem 5rem 4rem;
}
#footer_sub .footer_wrap {
  width: 100%;
  height: 100%;
  position: relative;
  border-top: 1px solid #c8cacb;
  padding: 30px 5px;
}
#footer_sub .footer_wrap .row {
  width: 100%;
  height: 100%;
}
#footer_sub .footer_wrap .row .col-3 h3 {
  font: bold 20px/1 "Lato";
  margin-bottom: 20px;
}
#footer_sub .footer_wrap .row .col-3 ul {
  padding: 0;
}
#footer_sub .footer_wrap .row .col-3 ul li {
  font: normal 16px/1 "noto sans";
  margin-bottom: 20px;
  cursor: pointer;
  transition: 0.5s;
}
#footer_sub .footer_wrap .row .col-3 ul li:hover {
  color: #d5001c;
}
#footer_sub .footer_wrap .row:last-child .sns .row {
  margin: 0;
  margin-top: 60px;
}
#footer_sub .footer_wrap .row:last-child .sns .row .col-4 {
  width: 50px;
  height: 50px;
  background: #313639;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  margin-right: 10px;
  margin-bottom: 10px;
}
#footer_sub .footer_wrap .row:last-child .sns .row .col-4 i {
  font-size: 20px;
  color: white;
}
#footer_sub .footer_wrap .row:last-child .sns .row .col-4:hover {
  background: #d5001c;
}

img {
  width: 40px;
}

/* HEADER */
#header {
  width: 100%;
  height: 70px;
  position: fixed;
  z-index: 10;
}
#header .header_wrap {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 5rem;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  transform-origin: top;
  transition: 0.5s;
}
#header .header_wrap:hover {
  background: #fff;
}
#header .header_wrap:hover .menu .gnbWeb li a,
#header .header_wrap:hover .menu .joinWeb li a {
  color: #000;
}
#header .header_wrap .logo {
  margin: 0;
}
#header .header_wrap .menu {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Noto Sans KR", sans-serif;
}
#header .header_wrap .menu .gnbWeb {
  display: flex;
  margin: 0;
}
#header .header_wrap .menu .gnbWeb li {
  margin: 0 3rem;
  position: relative;
}
#header .header_wrap .menu .gnbWeb li a {
  color: #fff;
  transition: 0.5;
}
#header .header_wrap .menu .gnbWeb li::after {
  display: block;
  content: "";
  width: 0px;
  height: 4px;
  background: #d5001c;
  position: absolute;
  left: -5px;
  bottom: -23px;
  transition: 0.5s;
}
#header .header_wrap .menu .gnbWeb li:hover::after {
  width: 110px;
}
#header .header_wrap .menu .gnbWeb li:hover a {
  color: #000;
}
#header .header_wrap .menu .joinWeb {
  display: flex;
  margin: 0;
}
#header .header_wrap .menu .joinWeb li {
  margin: 0 1.5rem;
  position: relative;
}
#header .header_wrap .menu .joinWeb li a {
  color: #fff;
}
#header .header_wrap .menu .joinWeb li:hover a {
  color: #000;
}

/* SECTION */
.test {
  width: 100%;
  height: 100vh;
  background: black;
}
.test .back_test {
  width: 100%;
  height: 100%;
  position: relative;
}
.test .back_test video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* FOOTER */
#footer {
  width: 100%;
  height: 450px;
  padding: 2rem 5rem 4rem;
}
#footer .footer_wrap {
  width: 100%;
  height: 100%;
  position: relative;
  border-top: 1px solid #c8cacb;
  padding: 30px 5px;
}
#footer .footer_wrap .row {
  width: 100%;
  height: 100%;
}
#footer .footer_wrap .row .col-3 h3 {
  font: bold 20px/1 "Lato";
  margin-bottom: 20px;
}
#footer .footer_wrap .row .col-3 ul {
  padding: 0;
}
#footer .footer_wrap .row .col-3 ul li {
  font: normal 16px/1 "noto sans";
  margin-bottom: 20px;
  cursor: pointer;
  transition: 0.5s;
}
#footer .footer_wrap .row .col-3 ul li:hover {
  color: #d5001c;
}
#footer .footer_wrap .row:last-child .sns .row {
  margin: 0;
  margin-top: 60px;
}
#footer .footer_wrap .row:last-child .sns .row .col-4 {
  width: 50px;
  height: 50px;
  background: #313639;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  margin-right: 10px;
  margin-bottom: 10px;
}
#footer .footer_wrap .row:last-child .sns .row .col-4 i {
  font-size: 20px;
  color: white;
}
#footer .footer_wrap .row:last-child .sns .row .col-4:hover {
  background: #d5001c;
}

.model {
  background-color: #313639;
  width: 100%;
  height: 100vh;
}
.model .card_container {
  justify-content: space-evenly;
}
.model .card_container .card .card-body .car_img {
  background-color: blue;
  width: 100%;
  height: 50px;
  background-image: src;
}/*# sourceMappingURL=style.css.map */