* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,
ol,
li {
    list-style: none;
}
a {
    text-decoration: none;
}

// 변수 선언
// color
$red: #d5001c;
$dark: #313639;
$white: #fff;
$black: #000;
$lightGray: #c8cacb;
$blue: #15577e;
$darkGray: #505356;
$gray: #494e51;
$footerBack: linear-gradient(180deg, rgba(255, 255, 255, 0) 0, rgba(0, 0, 0, 0.1) 100%);
