@import "reset";

// 변수 선언
// color
$red: #d5001c;
$dark: #313639;
$white: #fff;
$black: #000;
$lightGray: #c8cacb;
$blue: #15577e;
$darkGray: #505356;
$gray: #494e51;

$footerBack: linear-gradient(180deg, rgba(255, 255, 255, 0) 0, rgba(0, 0, 0, 0.1) 100%);

// font-family
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Noto+Sans+KR&display=swap");
// font-family: 'Lato', sans-serif;
// font-family: 'Noto Sans KR', sans-serif;

img {
    width: 40px;
}

/* HEADER */
#header {
    width: 100%;
    height: 70px;
    position: fixed;
    z-index: 10;

    .header_wrap {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        padding: 0 5rem;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: transparent;
        transform-origin: top;
        transition: 0.5s;
        &:hover {
            background: $white;
            .menu {
                .gnbWeb li a,
                .joinWeb li a {
                    color: $black;
                }
            }
        }

        .logo {
            margin: 0;
        }

        .menu {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-family: "Noto Sans KR", sans-serif;

            .gnbWeb {
                display: flex;
                margin: 0;
                li {
                    margin: 0 3rem;
                    position: relative;

                    a {
                        color: $white;
                        transition: 0.5;
                    }

                    &::after {
                        display: block;
                        content: "";
                        width: 0px;
                        height: 4px;
                        background: $red;
                        position: absolute;
                        left: -5px;
                        bottom: -23px;
                        transition: 0.5s;
                    }

                    &:hover {
                        &::after {
                            width: 110px;
                        }
                        a {
                            color: $black;
                        }
                    }
                }
            }

            .joinWeb {
                display: flex;
                margin: 0;
                li {
                    margin: 0 1.5rem;
                    position: relative;

                    a {
                        color: $white;
                    }

                    &:hover {
                        a {
                            color: $black;
                        }
                    }
                }
            }
        }
    }
}
/* SECTION */
.test {
    width: 100%;
    height: 100vh;
    background: black;
    .back_test {
        width: 100%;
        height: 100%;
        position: relative;
        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

/* FOOTER */
#footer {
    width: 100%;
    height: 450px;
    padding: 2rem 5rem 4rem;
    .footer_wrap {
        width: 100%;
        height: 100%;
        position: relative;
        border-top: 1px solid $lightGray;
        padding: 30px 5px;

        .row {
            width: 100%;
            height: 100%;

            .col-3 {
                h3 {
                    font: bold 20px/1 "Lato";
                    margin-bottom: 20px;
                }
                ul {
                    padding: 0;
                    li {
                        font: normal 16px/1 "noto sans";
                        margin-bottom: 20px;
                        cursor: pointer;
                        transition: 0.5s;

                        &:hover {
                            color: $red;
                        }
                    }
                }
            }
            &:last-child {
                .sns {
                    .row {
                        margin: 0;
                        margin-top: 60px;
                        .col-4 {
                            width: 50px;
                            height: 50px;
                            background: $dark;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            transition: 0.5s;
                            margin-right: 10px;
                            margin-bottom: 10px;

                            i {
                                font-size: 20px;
                                color: white;
                            }

                            &:hover {
                                background: $red;
                            }
                        }
                    }
                }
            }
        }
    }
}
